.Application {
  text-align: center;
}

.Application-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  font-family: HiraginoSans-W3;
  font-size: 14px;
}


